</head>
<body>
  <script src="https://kit.fontawesome.com/a779123e4c.js" crossorigin="anonymous"></script>
  <nav>
		<i class="fa-solid fa-plane"></i>  
    <a 
      href="/flights/new" <%- title === 'Add Movie' ? 'class="active"' : '' %>
    >ADD FLIGHT</a>
    <a 
      href="/flights" <%- title === 'All Movies' ? 'class="active"' : '' %>
    >ALL FLIGHTS</a>
    <a href="/meals/new" <%- title === 'Add Meal' ? 'class="active"' : '' %> >Add Meal</a>
  </nav>