<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1><%= title %></h1>
  <a href="flights/new ">Add New Flight(s)</a>
  <a href="flights/index"></a>
</main>

<%- include("./partials/footer") %>