<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <h1>Enter a New Movie</h1>
  <form action="/flights" method="POST">
    <label>Airline:
      <input type="text" name="airline">
    </label><br>
    <label>Flight Number:
      <input type="text" name="flightNo">
    </label><br>
    <label>Airport
      <select name="mpaaRating">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
    </label><br>
    <label>Departs:
      <input type="text" name="departs">
    </label><br>
    <button type="submit">Add flight</button>
  </form>
</body>
</html>